#tombola {
  max-width: 900px;
  margin-inline: auto;
  border: 2px solid black;
}
.cell {
  display: inline-block;
  width: 15%;
  height: 75px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  border: transparent;
}

.cell h3 {
  margin: 0;
}
.light {
  background-color: #d8cccc;
}
body {
  text-align: center;
  background-color: #e9e7d429;
}
